@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);

@font-face {
  font-family: MyCustomFont;
  src: url("../fonts/varsity_regular.ttf");
}
@font-face {
  font-family: Trajan_Pro_Bold;
  src: url("../fonts/Trajan_Pro_Bold.ttf");
}

:root,
html {
  font-family: Roboto, sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
html {
  scroll-padding-top: 70px;
  line-height: 1.15;
  scroll-behavior: smooth;
}

/* 
#b19652
#f0c021
*/
:root {
  --colorPrimary: #00abe4;
  --colorSecondary: #00abe4;
  --colorWhite: #ffffff;
  --colorOffWhite: #f7f7f7;
  --colorBorderWhite: #dbe4e9;
  --colorBlack: #000000;
  --colorHalfBlack: #333333;
  --colorBackgroundBlack: #343a40bd;
  --colorBackgroundOverlay: #00000070;
  --colorWhiteOverlay: rgba(212, 210, 212, 1);
  --colorBoxShadow: rgba(0, 0, 0, 0.075);
  --colorBrownBackground: #504140;
  --colorBrown: #372e28;
  --colorWhatsApp: #42db87;

  --highlightsBorder: #a45a52;
  --highlightsBackground: #a45a52;
}

/* Navbar */
.navbar-nav {
  justify-content: flex-end;
  width: 100%;
}

.navbar-nav .nav-link {
  color: var(--colorBlack);
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  background-color: var(--colorPrimary);
  height: 100%;
  color: var(--colorWhite);
}

.nav-link:hover {
  background-color: var(--colorOffWhite);
}

.nav-icon {
  margin-right: 5px;
}
@media only screen and (min-width: 1000px) {
  .navbar-nav .nav-link {
    font-size: 1.01vw !important;
    letter-spacing: 0.02vw;
  }
}
@media screen and (max-width: 600px) {
  .navbar-brand img {
    height: 45px;
  }
}

/* All Sections */

.section-heading {
  font-size: 35px;
  text-align: center;
  color: var(--colorPrimary);
  text-transform: uppercase;
  font-family: "Trajan_Pro_Bold";
}
.sub-heading {
  color: var(--colorSecondary);
  font-family: "Trajan_Pro_Bold";
}
@media screen and (max-width: 600px) {
  .section-heading {
    font-size: 1.6em;
  }
  .sub-heading {
    font-size: 1em;
  }
}

/* Slider */
#slider_section {
  margin-top: 70px;
  /* min-height: 80vh; */
}

.carousel {
  overflow: hidden !important;
  /* max-height: 80vh; */
}

.carousel-item img {
  max-height: 90vh;
  width: 100% !important;
}

.carousel-indicators .active {
  background-color: var(--colorSecondary) !important;
}

@media screen and (max-width: 600px) {
  .carousel-item .banner1 {
    content: url("../img/banners/mobile_banner.jpg");
  }
  .carousel-item .banner2 {
    content: url("../img/banners/mobile_banner.jpg");
  }
}

/* Overview */
@media screen and (max-width: 600px) {
  .overview_p2 {
    display: none;
  }
}
/* Configuration */

.nav-link.ami-tab {
  background-color: transparent;
  color: var(--colorPrimary);
  border: 2px solid var(--colorPrimary);
  border-radius: 10;
  margin: 5px;
}
.nav-link.ami-tab.active {
  color: var(--colorWhite);
  background-color: var(--colorPrimary);
}
.location_features_section .nav-item {
  border: none;
}
@media screen and (max-width: 600px) {
  .location_features_section .nav-item {
    font-size: 14px;
  }
}

.floor-plan {
  border-right: 1px solid var(--colorBorderWhite);
}

.floor-plan-details .total {
  margin: 20px;
}

.floor-plan-details .download_btn {
  padding: 20px;
  font-size: 1.2em;
}
