@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);

@font-face {
  font-family: MyCustomFont;
  src: url("../fonts/varsity_regular.ttf");
}
@font-face {
  font-family: Trajan_Pro_Bold;
  src: url("../fonts/Trajan_Pro_Bold.ttf");
}

:root,
html {
  font-family: Roboto, sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
html {
  scroll-padding-top: 70px;
  line-height: 1.15;
  scroll-behavior: smooth;
}

/* 
#b19652
#f0c021
*/
:root {
  --colorPrimary: #00abe4;
  --colorSecondary: #00abe4;
  --colorWhite: #ffffff;
  --colorOffWhite: #f7f7f7;
  --colorBorderWhite: #dbe4e9;
  --colorBlack: #000000;
  --colorHalfBlack: #333333;
  --colorBackgroundBlack: #343a40bd;
  --colorBackgroundOverlay: #00000070;
  --colorWhiteOverlay: rgba(212, 210, 212, 1);
  --colorBoxShadow: rgba(0, 0, 0, 0.075);
  --colorBrownBackground: #504140;
  --colorBrown: #372e28;
  --colorWhatsApp: #42db87;

  --highlightsBorder: #a45a52;
  --highlightsBackground: #a45a52;
}

/* Navbar */
.navbar-nav {
  justify-content: flex-end;
  width: 100%;
}

.navbar-nav .nav-link {
  color: var(--colorBlack);
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  background-color: var(--colorPrimary);
  height: 100%;
  color: var(--colorWhite);
}

.nav-link:hover {
  background-color: var(--colorOffWhite);
}

.nav-icon {
  margin-right: 5px;
}
@media only screen and (min-width: 1000px) {
  .navbar-nav .nav-link {
    font-size: 1.01vw !important;
    letter-spacing: 0.02vw;
  }
}
@media screen and (max-width: 600px) {
  .navbar-brand img {
    height: 45px;
  }
}

/* All Sections */

.section-heading {
  font-size: 35px;
  text-align: center;
  color: var(--colorPrimary);
  text-transform: uppercase;
  font-family: "Trajan_Pro_Bold";
}
.sub-heading {
  color: var(--colorSecondary);
  font-family: "Trajan_Pro_Bold";
}
@media screen and (max-width: 600px) {
  .section-heading {
    font-size: 1.6em;
  }
  .sub-heading {
    font-size: 1em;
  }
}

/* Slider */
#slider_section {
  margin-top: 70px;
  /* min-height: 80vh; */
}

.carousel {
  overflow: hidden !important;
  /* max-height: 80vh; */
}

.carousel-item img {
  max-height: 90vh;
  width: 100% !important;
}

.carousel-indicators .active {
  background-color: var(--colorSecondary) !important;
}

@media screen and (max-width: 600px) {
  .carousel-item .banner1 {
    content: url("../img/banners/mobile_banner.jpg");
  }
  .carousel-item .banner2 {
    content: url("../img/banners/mobile_banner.jpg");
  }
}

/* Overview */
@media screen and (max-width: 600px) {
  .overview_p2 {
    display: none;
  }
}
/* Configuration */

.nav-link.ami-tab {
  background-color: transparent;
  color: var(--colorPrimary);
  border: 2px solid var(--colorPrimary);
  border-radius: 10;
  margin: 5px;
}
.nav-link.ami-tab.active {
  color: var(--colorWhite);
  background-color: var(--colorPrimary);
}
.location_features_section .nav-item {
  border: none;
}
@media screen and (max-width: 600px) {
  .location_features_section .nav-item {
    font-size: 14px;
  }
}

.floor-plan {
  border-right: 1px solid var(--colorBorderWhite);
}

.floor-plan-details .total {
  margin: 20px;
}

.floor-plan-details .download_btn {
  padding: 20px;
  font-size: 1.2em;
}
/* ___ */

/* amenities */

.thumbnails {
  /* width: calc(100% / 3); */
  height: 250px;
  margin: 10px;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s;
}

.thumbnails img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* object-position: 50% 20%; */
  border-radius: 5%;
}

.black {
  text-align: center;
  background: #000;
  background-blend-mode: multiply;
  color: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.7;
  border-radius: 5%;
}

.title {
  color: #fff;
  font-size: 1.5em;
  align-self: center;
  position: absolute;
  z-index: 10;
  text-transform: uppercase;
}

.black,
.title {
  transition: opacity 0.3s;
}

.thumbnails:hover {
  cursor: pointer;
  transform: scale(1.05);
  z-index: 20;
}

.thumbnails:hover .black,
.thumbnails:hover .title {
  opacity: 0;
}

/* gallery */

#gallery_slider {
  position: relative;
  width: 50%;
  height: 32vw;
  margin: 30px auto;
  perspective: 1400px;
  transform-style: preserve-3d;
  border-radius: 12px;
  /* Rounded corners */
}
@media screen and (max-width: 600px) {
  #gallery_slider {
    width: 65%;
    height: 200px;
  }
}

/* Radio buttons for slide control */
input[type="radio"] {
  position: relative;
  top: 108%;
  left: 50%;
  width: 20px;
  /* Slightly larger */
  height: 20px;
  /* Slightly larger */
  margin: 0 15px 0 0;
  background: #ccc;
  /* Light gray */
  border: 2px solid #ccc;
  /* Light gray */
  border-radius: 50%;
  /* Rounded corners */
  cursor: pointer;
  transform: translateX(-83px);
  transition: background 300ms ease, border 300ms ease;
  /* Smooth transition */
}

input[type="radio"]:checked {
  background: #ff5a5f;
  /* Airbnb's coral red */
  border: 2px solid #ff5a5f;
  /* Airbnb's coral red */
}

/* Labels and images */
#gallery_slider label,
#gallery_slider label img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 12px;
  /* Rounded corners */
  transition: transform 400ms ease, opacity 400ms ease;
  /* Added opacity transition */
}

/* New addition for Zoom Effect */
.zoom-container {
  overflow: hidden;
  /* Hide the part of the image that extends outside the div */
}

/* Zoom effect */
.zoom-container:hover {
  cursor: default;
  /* Change cursor to zoom-in icon */
}

.zoom-container.can-zoom:hover img {
  transform: scale(1.4);
  /* Zoom level */
  transition: transform 0.5s ease-in-out;
}

/* Existing transition rules */
#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3,
#s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
  box-shadow: 0 13px 26px rgba(0, 0, 0, 0.3), 0 12px 6px rgba(0, 0, 0, 0.2);
  transform: translate3d(0%, 0, 0px);
}

#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide4,
#s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
  transform: translate3d(20%, 0, -100px);
}

#s1:checked ~ #slide3,
#s2:checked ~ #slide4,
#s3:checked ~ #slide5,
#s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  transform: translate3d(40%, 0, -250px);
}

#s1:checked ~ #slide4,
#s2:checked ~ #slide5,
#s3:checked ~ #slide1,
#s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  transform: translate3d(-40%, 0, -250px);
}

#s1:checked ~ #slide5,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2,
#s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
  transform: translate3d(-20%, 0, -100px);
}

/* contact */

/* contact */

.contact_us {
  color: #fff;
}

.right_conatct_social_icon {
  background: var(--colorPrimary);
}

.contact_us {
  background-color: #f1f1f1;
  padding: 20px 0px;
}

@media screen and (min-width: 1000px) {
  .contact_inner {
    position: relative;
  }

  .contact_field {
    padding: 60px 550px 90px 100px;
  }

  .contact_info_sec {
    position: absolute;
    width: 340px;
    border-radius: 25px 0 0 25px;
  }
}

.form-control {
  margin-bottom: 10px;
}

.contact_inner {
  background-color: #fff;
  /* position: relative; */
  box-shadow: 20px 22px 44px #cccc;
  border-radius: 25px;
}

@media screen and (max-width: 700px) {
  .contact_field {
    padding: 10px;
  }

  .contact_info_sec {
    width: 100%;
    border-radius: 0 0 25px 25px;
    /* border-bottom: 10px solid white; */
  }
}

.contact_field h3 {
  color: var(--colorBlack);
  font-size: 40px;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 10px;
}

.contact_field p {
  color: var(--colorBlack);
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 35px;
}

.contact_field .form-control {
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid #ccc;
}

.contact_field .form-control:focus {
  box-shadow: none;
  outline: none;
  border-bottom: 2px solid #1325e8;
}

.contact_field .form-control::placeholder {
  font-size: 13px;
  letter-spacing: 1px;
}

.contact_info_sec {
  /* position: absolute; */
  background-color: #2d2d2d;
  right: 1px;
  top: 18%;
  height: 340px;

  padding: 40px;
}

.contact_info_sec h4 {
  letter-spacing: 1px;
  padding-bottom: 15px;
}

.info_single {
  margin: 30px 0px;
}

.info_single i {
  margin-right: 15px;
}

.info_single span {
  font-size: 14px;
  letter-spacing: 1px;
}

.submit-btn,
.submit-btn:hover,
.submit-btn:focus-visible,
.submit-btn:active {
  background-color: var(--colorSecondary) !important;
  border: none !important;
}

.form-label {
  display: none;
}
.inputStyle {
  font-size: 1em;
  border-top: none;
  border-left: none;
  border-right: none;
}

/*Location  */
/* Location */

.near-location {
  padding-bottom: 25px;
}
.locations-left {
  overflow-y: auto;
  text-align: start;
}
.near-location h4 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 5px;
  text-transform: uppercase;
}

.near-location ul {
  /* padding-left: 0px; */
  font-size: 14px;
  /* font-weight: 200; */
}

.near-location ul li {
  line-height: 1.8em;
}
.near-location img {
  width: 50px;
  height: 50px;
}
.nopadding {
  padding: 0;
}

@media screen and (max-width: 600px) {
  .locations-left {
    margin-top: 2em;
  }
}
.loc_img {
  height: 400px;
  width: 100%;
}

.loc_img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.loc_features ul li {
  padding: 10px;
  font-size: 1.3em;
  list-style: none;
}

.read_more {
  background-color: transparent;
  font-size: 14px;
  margin: 0;
  border-radius: 0;
  width: fit-content;
  padding-left: 10px;
  color: var(--colorWhite);
}

/* Footer */
#footer {
  background-color: var(--colorBlack);
  padding: 40px 20px;
}

/*  */
@media screen and (min-width: 990px) {
  .navbar-nav {
    justify-content: flex-end;
  }
}

/* Action Footer */
.action-footer-container {
  margin: 0;
  padding: 0;
}
.action-footer {
  margin: 0;
  padding: 7px;
  background-color: var(--colorPrimary);
  color: var(--colorWhite);
  cursor: pointer;
  border-top-left-radius: 1vw;
  border-top-right-radius: 1vw;
  font-size: 0.8em;
}

.action-footer li {
  border-left: 1px solid var(--colorBlack);
}

.action-footer li:first-child {
  border-left: none !important;
}
/* For Desktop */
@media only screen and (min-width: 990px) {
  .action-footer {
    display: none;
  }
}

.form_norms {
  font-size: 0.75em;
  font-weight: bold;
}

.download_btn {
  color: var(--colorSecondary);
  border-color: var(--colorSecondary);
}
.download_btn:hover,
.download_btn:active {
  border-color: var(--colorSecondary) !important;
  background-color: var(--colorSecondary) !important;
}

/* ----------------------------------------------------------- */
/* Thank You Page */

#thanku_section {
  margin-top: 5em !important;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#thanku_section h2 {
  font-family: MyCustomFont;
  letter-spacing: 0.1em;
  font-size: 5em;
}

#thanku_section p {
  font-size: 1em;
}

@media screen and (max-width: 600px) {
  #thanku_section h2 {
    font-size: 2.3em;
  }
  #thanku_section p {
    padding: 0 1.2em;
    font-size: 0.8em;
  }
}
